*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;
}
.logo{
    background-image: url("Amazon\ Clone\ \(Resources\)/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.address{
    margin: 7px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.first-line{
    font-size: 0.85rem;
    color: #cccc;
}
.second-line{
    font-size: 1rem;
}
input{
    border: none;
    height: 40px;
    margin-top: 12px;
    width: 800px;
    border-radius: 10px;
}
select{
    border: none;
    height: 40px;
    margin-top: 12px;
    width: 50pxpx;
    
}